version: '3.9'
services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/code
    environment:
      - ENV='local'
      - MONGO_USER=jyp-server
      - MONGO_PASSWORD=password
      - MONGO_HOST=mongo
      - MONGO_PORT=27017
      - MONGO_DB=jyp
      - JWT_SECRET_KEY=yoonminzzang
      - JWT_MASTER_KEY=master
    links:
      - "mongo:mongo"
    depends_on:
      - mongo
  mongo:
    image: "mongo:5.0"
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-init.js:/docker-entrypoint-initdb.d/mongo-init.js
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
      - JYP_SERVER_USERNAME=jyp-server
      - JYP_SERVER_PASSWORD=password
